{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Registered Users</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.role=='user'%}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
            </tr>
            {%endif%}
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
</div>
{% endblock %}
